   body {
    margin: 0;
    padding: 0;
    background: #f8fafc;
    font-family: 'Poppins', sans-serif,
   }
 .navbar ul {
  list-style: none;
    padding: 0;
    margin: 0;
    background: #078a2a;
    text-align: right;
 }
  .navbar li {
   display: inline-block;
  }
        .navbar a {
         text-decoration: none;
         color: #fff;
         width: 100px;
         display: block;
         padding: 25px 20px;
         text-transform: uppercase;
         font-weight: bold;
         font-family: arial;
         font-size: 14px;
         text-align: center;
        }
    
        .navbar a:hover {
         background: #eb722274;
        }
  .contact {
   position: relative;
   min-height: 100vh;
   padding: 50px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: #f8fafc;;
   background-size: cover;
  }
   .contact .content {
    max-width: 800px;
    text-align: center; 
   }
      .contact .content h2 {
       color:#fff;
       font-weight: 10;
       font-size: 24px; 
       text-align: left; 
      font-weight: bold;
      text-transform: uppercase;
      }
       .contact .content  p {
       color:#0c0101;
       font-weight: 10;
       font-size: 18px;
        font-weight: medium;
        font-family: arial;
        font-size: 14px;
        text-align: center;
        padding: 25px 20px;
      }
            
      .container {
       width: 100%;
       display: flex;
       justify-content: content;
       align-items: center;
       margin-top: 30px; 
      }
      .container .contactInfo {
       width: 50%;
       display: flex; 
       flex-direction: column;
      }
    .container .contactInfo .box {
     position: relative;
     padding: 20px 0;
     display: flex; 
    }
   .container .contactInfo .box .icon {
   min-width: 60px;
   height: 60px;
   background: #fff;
   display: flex; 
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 22px; 
  }
  .container .contactInfo .box .icon .text {
   display: flex; 
   margin-left: 20px; 
   font-size: 10px; 
   color: #fff; 
   flex-direction: column; 
   font-weight: 100;
    }
  .container .contactInfo .box .icon .text .h3 {
   font-weight: 200;
   color: #00bcd4; 
  }
  .contactForm {
   width: 40%;
   padding: 40px;
   background: #fff;
  }
  .contactForm h2 {
   font-size: 30px;
   color: #fff; 
   font-weight: 500;
  }
  .contactForm .inputBox {
   position: relative;
   width: 100; 
   margin-top: 10px; 
    }
    .contactForm .inputBox input, 
    .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0; 
    font-size: 16px;
    margin: 10px 0;
    border: none; 
    border-bottom: 2px solid #333;
    outline: none; 
    resize: none; 
   }
  .contactForm .inputBox span {
   position: absolute; 
   left: 0;
   padding: 5px 0;
   font-size: 16px; 
   margin: 10px 0;
   pointer-events: none;
   transition: 0.5s; 
   color: #666; 
  }
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span {
 color: #e91e63; 
 font-size: 12px; 
 transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
 width: 100px; 
 background: #00bcd4;
 color: #fff; 
 border: none; 
 cursor: pointer;
 padding: 10px;
 font-size: 18px; 
}
 @media  (max-width: 991px) {
  .contact {
  padding: 50px;
 }
 .container {
  flex-direction: column;
 }
 .container .contactInfo {
 margin-bottom: 40px;
 }
.container .contactInfo,
.contactForm {
 width: 100%
}}
.rhombus2 {
  position: absolute;
  top: -25%;
  right: -25%;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  background: #f8fafc;;
  z-index: -1;
}
